# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vsidx	
*.db
*.db-shm
*.obj
*.tlog
*.tlog
*.log
*.ilk
*.pdb
*.pdb
*.idb
*.pdb	
*.db
*.db-wal
*.ipch
*.opendb
*.enc
*.db
*.vcxproj	
*.filters
*.sln
*.vsidx
*.lock
.vs/midi_whammy_controller/v17/.suo
*.vcxproj
*.recipe
*.user
midiWhammy/.vs/midiWhammy/v17/.suo
midiWhammy/src/arduino folders read me.txt
midiWhammy/.vscode/arduino.json
midiWhammy/__vm/.midiWhammy.vsarduino.h
*.xml
simulation/midiWhammy.hex
test/testSongLoop/ConsoleApplication1/.vs/ConsoleApplication1/v17/.suo
